---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { ArrowLeftIcon } from "@lucide/astro";

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title}-article`}>
  <div class="max-w-3xl mx-auto py-8 px-4">
    <a href="/#writing" class="inline-block text-amber-500 hover:underline transition-colors">
      <ArrowLeftIcon class="inline-block mr-2" />
      Volver
    </a>
  </div>
  <article class="max-w-l md:max-w-3xl mx-auto my-0 py-8 px-4">
    <h1 transition:name={`${post.slug}-view-transition-title`} class="text-center text-4xl font-bold mb-4 md:mb-6">{post.data.title}</h1>
    {post.data.coverImage && (
      <img
        transition:name={`${post.slug}-view-transition-img`}
        src={post.data.coverImage}
        alt={post.data.title}
        class="w-full h-64 object-cover mb-8 rounded-lg"
      />
    )}
    <div class="flex justify-end gap-2">
        <small class="text-muted-[hsl(var(--foreground))] mb-8">{post.data.author}, {new Date(post.data.date).toLocaleDateString()}</small>
    </div> 
    <div class="prose prose-lg prose-invert max-w-none">
      <Content />
    </div>
  </article>
</Layout>