---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";

// Genera rutas para todos los posts, extrayendo lang y slug del id
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    const [lang, ...slugParts] = post.slug.split("/");
    console.log(lang, slugParts.join("/"));
    return {
      params: { lang, slug: slugParts.join("/") },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title}-article`}>
  <article class="max-w-3xl mx-auto my-0 py-20 px-4">
    <h1 transition:name={`${post.slug}-view-transition-title`} class="text-center text-4xl font-bold mb-4 md:mb-6">{post.data.title}</h1>
    {post.data.coverImage && (
      <img
        transition:name={`${post.slug}-view-transition-img`}
        src={post.data.coverImage}
        alt={post.data.title}
        class="w-full h-64 object-cover mb-8 rounded-lg"
      />
    )}
    <div class="flex justify-end gap-2">
        <small class="text-muted-[hsl(var(--foreground))] mb-8">{post.data.author}, {new Date(post.data.date).toLocaleDateString()}</small>
    </div> 
    <div class="prose prose-invert max-w-none">
      <Content />
    </div>
  </article>
</Layout>